streamlit>=1.35.0

yt-dlp==2025.6.9
ffmpeg-python
pydub

openai-whisper==20231117

torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

transformers==4.52.4
sentence-transformers==2.7.0

deep-translator

langchain
langchain-core
langchain-community
langchain-mistralai
mistralai

chromadb
langchain-chroma
langchain-huggingface

python-dotenv

fpdf2

numpy
tiktoken
tenacity
tqdm
watchdog
